<div class="login">
  <div class="panel-login">
    <h3 class="text-center">INICIAR SESIÓN</h3>
    <form>
      <div class="row margin-top-25 margin-bottom-25">
        <div class="offset-md-2 col-md-8">
          <div class="form-group">
            <label class="etiqueta" for="exampleInputUsername">USUARIO</label>
            <input type="text" class="form-control" id="exampleInputUsername">
          </div>
          
          <div class="form-group">
            <label class="etiqueta" for="exampleInputPassword1">PASSWORD</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
        </div>
      </div>
      
      <div class="text-center">
        <button type="button" class="btn btn-primary btn-largo" (click)="clickIngresar()">INGRESAR</button>
      </div>
    </form>
  </div>
</div>