<div class="tareas">
  <h3 style="display: inline-block">LISTADO DE TAREAS</h3>
  
  <button (click)="clickRegresar()" type="button" class="btn btn-outline-secondary btn-mediano" style="float: right;">
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
    </svg>
    SALIR
  </button>
    
  <div class="tabla-cabecera margin-top-25">
    <button type="button" class="btn btn-primary btn-mediano" (click)="openModal(templateAgregar)">
      AGREGAR
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
      </svg>
    </button>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="etiqueta" scope="col">#</th>
        <th class="etiqueta" scope="col">DESCRIPCIÓN</th>
        <th class="etiqueta" scope="col">USUARIO</th>
        <th class="etiqueta" scope="col">COMPLETADO</th>
        <th class="etiqueta" scope="col">ACCIONES</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of tareas; let index = index">
        <th class="text-center" scope="row">{{index + 1}}</th>
        <td>{{item.descripcion}}</td>
        <td>{{item.nombres}}</td>
        <td>{{item.indCompletado == 'S' ? 'Completado' : 'Pendiente'}}</td>
        <td class="text-center">
          <svg (click)="tarea = item; openModal(templateEliminarConfirmar, 'modal-sm')" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
          </svg>&nbsp;
          <svg (click)="openModal(templateEditar)" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-eye-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
            <path fill-rule="evenodd" d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
          </svg>
        </td>
      </tr>
    </tbody>
  </table>
  
  <ng-template #templateEliminarConfirmar>
    <div class="modal-header">
      <h3 class="modal-title pull-left">CONFIRMAR</h3>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body text-center">
      <p>¿Está seguro que desea eliminar la tarea?</p>
    </div>
    <div class="modal-footer justify-center">
      <button (click)="modalRef.hide()" type="button" class="btn btn-outline-secondary btn-pequenio">NO</button>
      <button (click)="modalRef.hide(); eliminarTarea()" type="button" class="btn btn-primary btn-pequenio">SI</button>
    </div>
  </ng-template>
  
  <ng-template #templateAgregar>
    <div class="modal-header">
      <h3 class="modal-title pull-left">AGREGAR TAREA</h3>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group row">
              <label class="etiqueta col-form-label col-md-3" for="exampleInputDescripcion">DESCRIPCIÓN</label>
              <div class="col-md-9">
                <input type="text" class="form-control" id="exampleInputDescripcion" name="descripcion" [(ngModel)]="tarea.descripcion">
              </div>              
            </div>
            <div class="form-group row">
              <label class="etiqueta col-form-label col-md-3" for="exampleInputUsername">USUARIO</label>
              <div class="col-md-9">
                <select class="form-control" id="exampleInputUsername" name="usuarioID" [(ngModel)]="tarea.usuarioID">
                  <option value="">-Seleccione-</option>
                  <option *ngFor="let item of usuarios" [value]="item.usuarioID">{{item.nombres}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button (click)="modalRef.hide()" type="button" class="btn btn-outline-secondary btn-mediano">CANCELAR</button>
      <button (click)="modalRef.hide(); openModal(templateGrabarConfirmar, 'modal-sm')" type="button" class="btn btn-primary btn-mediano">GRABAR</button>
    </div>
  </ng-template>
  
  <ng-template #templateEditar>
    <div class="modal-header">
      <h3 class="modal-title pull-left">EDITAR TAREA</h3>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group row">
              <label class="etiqueta col-form-label col-md-3" for="exampleInputDescripcion">DESCRIPCIÓN</label>
              <div class="col-md-9">
                <input type="text" class="form-control" id="exampleInputDescripcion">
              </div>              
            </div>
            <div class="form-group row">
              <label class="etiqueta col-form-label col-md-3" for="exampleInputUsername">USUARIO</label>
              <div class="col-md-9">
                <select class="form-control" id="exampleInputUsername">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>              
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button (click)="modalRef.hide()" type="button" class="btn btn-outline-secondary btn-mediano">CANCELAR</button>
      <button (click)="modalRef.hide(); openModal(templateCompletarConfirmar, 'modal-sm')" type="button" class="btn btn-primary btn-mediano">COMPLETAR</button>
      <button (click)="modalRef.hide(); openModal(templateGrabarConfirmar, 'modal-sm')" type="button" class="btn btn-primary btn-mediano">GRABAR</button>
    </div>
  </ng-template>
  
  <ng-template #templateCompletarConfirmar>
    <div class="modal-header">
      <h3 class="modal-title pull-left">CONFIRMAR</h3>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body text-center">
      <p>¿Está seguro que desea completar la tarea?</p>
    </div>
    <div class="modal-footer justify-center">
      <button (click)="modalRef.hide()" type="button" class="btn btn-outline-secondary btn-pequenio">NO</button>
      <button (click)="modalRef.hide()" type="button" class="btn btn-primary btn-pequenio">SI</button>
    </div>
  </ng-template>
  
  <ng-template #templateGrabarConfirmar>
    <div class="modal-header">
      <h3 class="modal-title pull-left">CONFIRMAR</h3>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body text-center">
      <p>¿Está seguro que desea grabar la tarea?</p>
    </div>
    <div class="modal-footer justify-center">
      <button (click)="modalRef.hide()" type="button" class="btn btn-outline-secondary btn-pequenio">NO</button>
      <button (click)="modalRef.hide(); crearTarea()" type="button" class="btn btn-primary btn-pequenio">SI</button>
    </div>
  </ng-template>
</div>