/* You can add global styles to this file, and also import other style files */

* {
  font-family: Roboto;
}

h3 {
  color: #004F71;
  font-weight: bold;
  font-size: 24px;
}

.content {
  padding: 20px;
}

.margin-top-25 {
  margin-top: 25px;
}

.margin-bottom-25 {
  margin-bottom: 25px;
}

/************ FORMS ****************/
.etiqueta {
  color: #004F71;
  font-size: 14px;
}

.form-control {
  border: 1px solid #157EF9;
  font-size: 18px;
}
/**********************************/

/********** BOTONES ***************/
.btn-primary {
  background-color: #044B89;
  color: #ffffff;
  font-size: 18px;
}
.btn.btn-largo {
  width: 292px;
}
.btn.btn-mediano {
  width: 164px;
}
.btn svg {
  font-size: 25px;
}
/*********************************/

/********** TABLAS ***************/
table thead th {
  text-align: center;
}
.tabla-cabecera {
  background-color: #D5F2FA;
  padding: 12px;
  border: 1px solid #dee2e6;
  margin-bottom: 1px;
}
/*********************************/

/********* MODALES ***************/
.modal-header {
  border: 0;
}
.modal-body {
  padding-left: 40px;
  padding-right: 40px;
}
.modal-footer {
  border: 0;
}
/*********************************/